.watch-page {
    .player-container {
        display: flex;
        justify-content: center;
    }
    
    .season-select {
        display: flex;
        justify-content: space-around;
        mat-form-field {
            width: 300px;
        }
    }

    .episodes {
        margin: auto;
        .episode-grid-container {
            grid-auto-rows: auto;
        }
    }
    
    .player-container {
        margin-bottom: 1rem;
    }
}
