@import '../styles/colors.scss';
@import '../styles/fonts.scss';
@import '../styles/breakpoints.scss';

main {
    background-color: $roysan-blue;
    height: 100%;
}

.construction {
    text-align: center;
    font-size: $banner-lg;
    font-family: $francois-one;
    color: white;
    padding: $banner-lg;

    @media (max-width: $tablet) {
        font-size: $banner-sm;
    }

    @media (max-width: $mobile) {
        font-size: $header-3;
    }
}