@import '../styles/colors.scss';
@import '../styles/fonts.scss';
@import '../styles/breakpoints.scss';

main {
    background-color: $roysan-blue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0;
}

.gutter {
    width: $banner-lg;
}
