html {
    font-size: 16px;
}

$p-font-sm: 0.5rem;
$p-font-md: 1rem;
$p-font-lg: 1.25rem;

$header-1: 2.5rem;
$header-2: 2rem;
$header-3: 1.75rem;
$header-4: 1.5rem;

$banner-sm: 3rem;
$banner-md: 4rem;
$banner-lg: 5rem;

$francois-one: 'Francois One', sans-serif;
